/* @tailwind base;
@tailwind components;
@tailwind utilities; */

button {
  @apply py-1 px-4 rounded bg-slate-50;
}

.login-Btn a {
  @apply text-lg;
}

.login-Btn {
  @apply hover:bg-slate-200;
}

.moreBtn {
  @apply block bg-slate-400 p-2 mt-4;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  /* justify-items: center; */
  /* align-content: center; */
}

header {
  @apply flex pt-4  p-2 border-2 border-indigo-500;
}

header nav {
  @apply hidden text-[3rem] gap-4 ml-16 md:flex;
}
header nav a {
  @apply text-lg cursor-pointer;
}

header .btns {
  @apply flex gap-4 ml-auto;
}

/* .jumbotron {
  @apply bg-green-400;
} */
/* .jumbotron main {
  @apply mt-8  grid md:grid-cols-2;
} */

/* .jumbotron .left {
  @apply p-8;
} */

/* .jumbotron h4 {
  @apply bg-slate-100 opacity-40 p-4 border-4;
} */

section.jumbotron main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  /* background: #cdced3; */
  padding: 1rem;
}

.jumbotron h1 {
  @apply flex items-center justify-center text-4xl text-slate-500 uppercase font-semibold  my-4 md:text-2xl lg:text-4xl xl:text-6xl;
}

.jumbotron .left h4 {
  @apply mx-4 md:text-lg xl:text-2xl;
}
.jumbotron .left span {
  @apply my-4 md:text-3xl;
}

.jumbotron .left {
  order: 2;
}

.jumbotron .right {
  @apply mt-4 md:mt-0;
}

.feature__1 {
  @apply py-24 px-8;
  /* color: white; */
}

.feature__1 .top {
  @apply m-auto mb-8;
}

.feature__1 .top h1 {
  @apply text-3xl w-[25rem] m-auto font-semibold text-center md:text-4xl md:w-[40rem] lg:text-5xl;
}

.feature__1 .top p {
  @apply w-[30rem] text-[1.1rem] text-center text-lg m-auto;
}

/* .feature__1 .top span {
  @apply m-auto;
} */

/* .feature__1 .bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 15rem;
  padding: 1rem;
} */

.feature__1 .bottom .card {
  @apply p-16 shadow-md shadow-slate-600/30 rounded-md;
}

.feature__1 .card img {
  /* height: 300px; */
  width: 100%;
  object-fit: cover;
  padding: 2rem;
  @apply bg-slate-300;
}

.feature__1 .bottom h2 {
  margin-top: 1rem;
}
.feature__1 .bottom p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.feature__1 .bottom .card span {
  @apply p-2 my-4 text-center text-red-300 bg-slate-200 rounded-full text-4xl;
}

.feature__1 .bottom .card h4 {
  @apply text-lg font-semibold text-slate-700;
}
.feature__1 .bottom .card p {
  @apply text-slate-800;
}

.feature__2 {
  @apply mt-32 flex flex-col justify-between md:flex-row;
}

.feature__2 p {
  @apply text-2xl font-semibold;
}

.feature__2 span {
  @apply text-lg;
}

/* .feature__3 {
  @apply my-16 flex gap-16  flex-col md:flex-row justify-between;
} */

/* .feature__3 .left {
  @apply bg-slate-50 shadow-md shadow-slate-500/30 rounded-md p-8;
} */

.latest__blog {
  margin-top: 10rem;
}
.latest__blog .top {
  @apply flex justify-between;
}

.latest__blog .top h1 {
  @apply text-4xl font-bold;
}

/* .latest__blog .featured__blog .blog__card {
  @apply rounded-md border-2 border-solid border-slate-300;
} */

.latest__blog .featured__blog {
  @apply mt-8 rounded-md;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 4rem;
}

.latest__blog .blog__card .blog__img {
  @apply mt-8 mb-4 rounded-lg;
}

.latest__blog .blog__card .bottom {
  @apply mt-4 flex flex-row items-center gap-4;
}

.latest__blog .blog__card .bottom img {
  @apply w-8 h-8 rounded-full object-cover;
}
.latest__blog .blog__card .bottom span {
  @apply text-sm text-slate-500;
}

/*=========== DESIGNS ================*/

.designs h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: var(--color-bg1);
  margin-bottom: 1rem;
}

.designs p {
  font-size: 1.5rem;
  color: black;
}

.designs {
  margin-top: 7.5rem;
  padding: 3rem;
}

.designs article {
  /* margin-top: 5rem; */
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  /* align-items: center; */
  gap: 2rem;
}

.designs .reverse {
  order: 2;
}

/*=========== TESTIMONY ================*/

.testimony {
  @apply my-[10rem];
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

.testimony .ratings {
  @apply mt-4 text-yellow-600;
}

.testimony .left h1 {
  @apply mt-2;
}

.testimony .left .info {
  @apply mt-4;
}
.testimony .left .info span {
  @apply text-sm text-slate-500;
}

.pricing {
  @apply mt-[10rem];
}

.pricing .top {
  @apply mx-auto text-center;
}

.pricing .top h1 {
  @apply text-4xl uppercase mt-4 md:text-5xl;
}
.pricing .top p {
  @apply w-[25rem] mx-auto my-4 md:w-[40rem];
}

.pricing .pricing__cards .card {
  @apply bg-white  p-8 rounded-lg shadow-md shadow-slate-600/30;
}
.pricing .card .card__top {
  @apply p-2;
}

.pricing .card .card__top .info {
  @apply flex items-center justify-between;
}

.pricing .card .card__top .info .label {
  @apply p-1 mt-4 rounded-3xl border-2 border-solid border-red-400 bg-slate-100 text-red-400 text-sm cursor-pointer hover:bg-slate-50;
}

.pricing .card__top .price span {
  @apply font-bold text-4xl mt-4;
}

.pricing .card__top p {
  @apply mt-2;
}
.pricing .card__top button {
  @apply rounded-2xl bg-transparent border-2 border-solid border-slate-600 w-[100%] text-lg my-2 px-2 cursor-pointer;
}

.pricing .card .card__top button.active {
  @apply bg-slate-600 text-white;
}

.pricing .card .features {
  @apply p-2 border-t-2 border-solid border-slate-100;
}

.pricing .card .features .item {
  @apply flex items-center gap-2 my-4;
}

/*=========== FOOTER ================*/

.footer__container {
  background: var(--color-info-dark1);
  padding: 2rem;
  position: relative;
}

.footer__container .container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.footer__container article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.footer__container article a:hover {
  color: var(--color-info-light1);
}

.preview__footer {
  position: absolute;
  bottom: -100;
  /* right: 50%; */
  /* transform: translateX(-50% 50%); */
  /* text-align: center; */
  padding: 0.5rem;
}

@media (min-width: 640px) {
  .testimony .left h1 {
    @apply text-base;
  }
}

@media (min-width: 768px) {
  section.jumbotron main {
    grid-template-columns: repeat(2, 1fr);
  }

  .jumbotron .left {
    order: 0;
  }

  .feature__1 .top p {
    @apply w-[40rem];
  }

  .feature__1 .bottom {
    gap: 1.5rem;
  }

  .designs h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  .designs article {
    grid-template-columns: 1fr 1fr;
    /* gap: 1rem; */
  }

  .testimony {
    grid-gap: 1rem;
  }

  .testimony .left h1 {
    @apply text-xl;
  }

  .container.pricing__cards {
    max-width: 900px;
  }

  .pricing .top h1 {
    @apply text-4xl;
  }

  .feature__1 .card img {
    height: 245px;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .jumbotron main .left {
    @apply mt-8;
  }

  .testimony .left h1 {
    @apply mt-8 text-4xl;
  }

  .testimony .left .info {
    @apply mt-8;
  }

  .pricing .top h1 {
    @apply text-5xl;
  }
}
@media (min-width: 1524px) {
  .jumbotron main .left {
    @apply mt-16;
  }
}
